<p id="notice"><%= notice %></p>

<h1>History</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Type</th>
      <th>User</th>
      <th>Target type</th>
      <th>Target id</th>
      <th>Date, time</th>
    </tr>
  </thead>

  <tbody>
    <% @history_items.each do |history_item| %>
      <tr>
        <td><%= history_item.history_type %></td>
        <td><%= history_item.user.email %></td>
        <td><%= history_item.target_type %></td>
        <td><%= history_item.target_id %></td>
        <td><%= history_item.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="container pagination justify-content-center" >
  <%= paginate @history_items, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
</div>

